<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--<h3>-->
<!--    <a href="/users?count=1">1</a>&nbsp;-->
<!--    <a href="/users?count=2">2</a>&nbsp;-->
<!--    <a href="/users?count=3">3</a>&nbsp;-->
<!--    <a href="/users?count=4">4</a>&nbsp;-->
<!--    <a href="/users?count=5">5</a>&nbsp;-->
<!--</h3>-->
<table>
    <tr>
        <th> Name</th>
        <th> Surname</th>
        <th> Age</th>
    </tr>
</table>

<div>
    <th:block th:each="user : ${users}">
        <h3 th:text="${user.getName()+' '+user.getSurname()+' '+user.getAge()}"></h3>
    </th:block>
</div>
</body>
</html>